# ================================
# ProjetoLGZ — Legendaryz
# ================================

# Banco SQLite local
DATABASE_URL="file:./dev.db"

# URL pública do site em produção
# Exemplo local:
NEXT_PUBLIC_SITE_URL="http://localhost:3008"

# Exemplo produção:
# NEXT_PUBLIC_SITE_URL="https://seudominio.com.br"